---
import Clock from "../components/Clock";
import Globe from "../components/Globe";
import SearchInput from "../components/SearchInput";
import Wave from "../components/Wave";

import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
	<Wave client:load orientation="bottom" />

	<section class="relative flex flex-col justify-center items-center my-4">
		<Clock client:visible className="mb-14" />
		<SearchInput client:visible />
	</section>

	<Globe className="py-16" client:visible width={400} height={400} />
</Layout>