---
import "@fontsource/inter";
import "@fontsource/jetbrains-mono"

export interface Props {
	title: string;
	theme?: string;
}

const { title, theme = "halloween" } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" data-theme={theme}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />

		<!-- Write meta tags  -->
		<meta name="title" content="Homer">
		<meta name="description" content="Multipurpose homepage.">

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://homer.edqe.me">
		<meta property="og:title" content="Homer">
		<meta property="og:description" content="Multipurpose homepage.">
		<meta property="og:image" content="https://homer.edqe.me/images/banner.jpg">

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image">
		<meta property="twitter:url" content="https://homer.edqe.me">
		<meta property="twitter:title" content="Homer">
		<meta property="twitter:description" content="Multipurpose homepage.">
		<meta property="twitter:image" content="https://homer.edqe.me/images/banner.jpg">

		<title>{title}</title>

    <style is:global>
      input {
        @apply bg-zinc-700;
      }

      code {
        @apply bg-neutral rounded-md p-1;
      }
    </style>
	</head>

	<body class="bg-base-100 text-base-content font-inter">
    <main class="w-2/5 mx-auto min-h-screen py-16">
      <slot />
    </main>
	</body>
</html>